@use 'partial';

.user {
  @include partial.verticalCenterAlign();
  justify-content: center;
  background-color: #3e5075;
  background-image: url("https://www.transparenttextures.com/patterns/black-linen.png");
  height: 400px;
  width: 100%;

  h2 {
    margin: 0px;
    color: partial.$text-color;
  }
}


/* Laptops / Desktops: minimum width of 1024px */
@media (min-width: 1024px) {
  .user {
    margin: 50px;
    width: 50%;
  }
}