@use 'partial';

.fa-heart:hover {
  color: red;
  cursor: pointer;
}

.fa-retweet:hover {
  color: green;
  cursor: pointer;
}

.fa-flag:hover {
  color: yellow;
  cursor: pointer;
}

.tweet:hover {
  box-shadow: 5px 5px partial.$tweet-box-color;
}

.tweet {
  border: 5px solid partial.$tweet-box-color;
  margin-top: 10px;
  padding: 1.5em;
  word-wrap: break-word;

  header {
    display:flex;
    flex-direction: row;
    align-items: center;
    
    img {
      margin-right: 0.5em;
    }
    .handleName {
      font-weight: bold;
      opacity: 0.2;
    }
    .handleName:hover {
      cursor: pointer;
    }
  }

  .userInfo {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  footer {
    border-top: 5px solid partial.$tweet-box-color;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 0.5em;
  
    i{
      margin-left: 5px;
    }
  }
}

.tweet-container {
  width: 100%;
}

/* Laptops / Desktops: minimum width of 1024px */
@media (min-width: 1024px) {
  .container {
    margin: 50px;
    width: 50%;
  } 
}